.DS_Store
*.pyc
__pycache__
*.csv
*.log
dist/
talos.egg-info
.idea/

.venv/
.pytest_cache/
*.egg-info/
build/

.coverage
coverage.json
test-runtime.json
.venv-*/

uv.lock
venv/
.ruff_cache/

.hypothesis/
